POPREPO_LOG_LEVEL=debug
POPREPO_LIVE_RELOAD=True

POPREPO_REDIS_HOST=poprepo-redis
POPREPO_REDIS_PORT=6379
POPREPO_REDIS_PASSWORD=

POPREPO_FEATURE_CACHE_ENABLED=true
POPREPO_FEATURE_CACHE_TTL_SEC=30
POPREPO_FEATURE_CACHE_ENDPOINTS=endpoint_popularity